RewriteEngine On    # Turn on the rewriting engine
# not rewrite css, js and images
RewriteCond %{REQUEST_URI} !\.(?:css|js|jpg|gif|png)$ [NC]
RewriteRule  ^page/(.*)$/?$      page.php?slug=$1      [NC,L]